.buttons-container-panel {
    background-image: url("project://database/Assets/Textures/Ui/GUI_panel_BG1.png?fileID=21300000&guid=1b9fcb6d0a1584a4eb04e1495eedf937&type=3#GUI_panel_BG1");
    -unity-slice-scale: 0.5px;
}

.menu-root {
}

.menu-buttons {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
